

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


img{
    width: 100%;
}

a{
  text-decoration: none;
}


.main{
    width: 100%;;
}


.nav{
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
  
    padding: 25px;
    padding-left: -8px;
    box-shadow: black 0px 0px 8px -3px;
}

.logo{
    width:50px;;
}

.logo:hover{
    cursor: pointer;
}


.list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}



.litxt{
    margin: 5px 27px;
    color: rgb(178 13 133);
    font-weight: bold;
    font-size: 20px;
}

.litxt:hover{
    cursor: pointer;
}

input:active{
    border: none;
}

.cart{
    display: block;
    border-radius: 5px;
    margin: 10px;
font-weight: 500;
font-size: 17px;
padding: 10px 0px;
text-align: center;
color: white;
background-color: #252525;
}

.cart:hover{
  cursor: pointer;
  background-color: #3b3b3b;
}

.cart:active{
  background-color: #252525;
}

.cartbox{

    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #262b7c;
}

.cartbox:hover{
    cursor: pointer;
}

.cartbox>p{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 5px;
    background-color: #262b7c;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}

.cartlogo{
    transform: rotateY(180deg);
}


.innercont{

    width: 100%;
    position: relative;
    display: flex;
    margin-top: 80px;
}

.filtertxt{
    font-size: 25px;
    font-weight: bold;
    width: 94%;
    color: rgb(103 0 75);
    margin-top: 35px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-bottom: 1px solid #00000038;
}

.filtbox{
    width: 20%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: black 0px 4px 5px -3px;
    height: 90vh;
    overflow-y: scroll;


}

.filt{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 10px;
}



.filthead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
    font-size: 18px;
    color: rgb(149 0 109);
}

.filthead:hover{
    cursor: pointer;
}

.arrow{
    width: 24px;
}

.arr{
    transform: rotateX(0deg);
}


.optionbox{
    display: none;
    flex-direction: column;
    padding-left: 9px;
    margin: 0px 19px;
    border-bottom: 1px solid #00000033;
    
}

.option{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    color: #9a017c;
}

.input:hover{
    cursor: pointer;
}

.select{
    width: 13px;
    height: 13px;
    margin-right: 4px;
}

.select:hover{
    cursor: pointer;
}



#productcont{
    margin-top: 20px;
    position: absolute;
    right: 0;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-around;
    grid-gap: 50px 40px;
  }


.productdiv{
    background-color: white;
    transition: all .1s;
    padding-bottom: 10px;
    position:relative;
    overflow:hidden;
}



.productdiv:hover{
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.3);
}

.prohover{
width:100%;
height:100%;
background-color: rgb(53, 53, 53, 0.6);
position: absolute;
left:200px;
transition: left 0.2s;

}

.productdiv:hover .prohover{
filter: opacity(1);
left:0px;


}





.product img{
    width: 100%;
}

.name
{   color:#262b7c;
    font-weight: bold;
    padding: 5px 0px 0px 0px;
    margin-left: 5px;
}

.desc
{
    font-size: 12px;
    color: #886cb6;
    margin: -1px 0px 4px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price
{
    color: #000000;
    padding-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.price :nth-child(2)>:nth-child(1)
{
    font-weight:100;
    font-size: 14px;
    text-decoration: line-through;
    color: #a4a4a4;
    margin-left: 3px;
}

.price :nth-child(3)
{
   
    font-size: 15px;
    color: #6da800;
}




/* Cart Css */


.inner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 50px;
    margin-top: 100px;
    min-height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 46%;
}

.add{
    margin-bottom: 8px;
    background-color: #fff6f4;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #eaeaec;
    cursor: pointer;
    width: 100%;
}

.addtxtbox{
    width: 73%;
}

.deli{
    font-weight: bold;
}

.deli>span{
    font-weight: 200;
}

.addtxt{
  font-size: 12px;
    line-height: 15px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}

.addbtn{
    padding: 8px 16px;
    border: 1px solid #ff3f6c;
    border-radius: 4px;
    margin-right: 0;
    font-size: 12px;
    font-weight: 700;
    color: #ff3f6c;

}


.right{
    width: 40%;
    border: 1px solid black;
    height: 100%;
}


.offerbox{
    background: #fff;
    margin-bottom: 10px;
    padding: 16px 18px 12px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
    width: 100%;
}

.avail
{
    font-weight: 700;
    font-size: 14px;
    margin-left: 17px;
    margin-bottom: 12px;
}

.offtxt{
    padding-left: 15px;
    margin-bottom: 8px;
}

.show{
    padding-left: 17px;
    font-size: 14px;
    font-weight: 700;
    color: #ff3f6c;
    cursor: pointer;

}


.cartcard{
  box-shadow: 0px 0px 7px -7px black;
  border-radius: 4px;
    width:100%;
    display: flex;
    border: 1px solid rgb(230, 230, 230);
    margin: 5px 0px;
    padding: 10px 10px;
    position: relative;
  }

  .image{
    width:120px;
    position: relative;
  }

  .image img{
    width:100%;
  }

  .image input{
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .prodetails{
    margin-left:14px;
    position: relative;
  }

  .crossdel
  {
    width: 16px;;
    position: absolute;
    right: 10px
  }

  .crossdel:hover{
    cursor: pointer;
  }

  .crossdel :hover
  {
    cursor: pointer;
  }

  .prodetails > :nth-child(1)
  {
    font-weight: 14px;
    font-weight: bold;
  }

  .prodetails > :nth-child(2)
  {
    margin-top: 1px;
    font-size: 13px;
    width: 146px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .prodetails > :nth-child(3)
  {
    color: #939090;
    margin-top: 2px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .colorsize{
    display: flex;
    align-items: center;
  }


.color{
  width:13px;
  height:13px;
  border-radius: 20px;
}

  .qty select{
    background:none;
    border:none;
    font-weight:bold;
  }

  .qty{
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    margin-left: 10px;
    padding: 4px 6px;
    background-color:rgb(242, 242, 242);
  }

  .size{
    color: black;
    margin-left: 13px;
  }

  .size span{
    font-size: 13px;
  }

  .price{
    display:flex;
    align-items: center;
    margin-top: 13px;
  }

  .price > :nth-child(1){
    font-size: 14px;
    font-weight: 600;
  }

  .price > :nth-child(2){

    margin: 0px 7px;
    font-size: 14px;
    color: #9a9a9a;
    
  }

  .price > :nth-child(3){
    color: #4c822a;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 300;
  }

  .prodetails > :nth-child(6) span{
    margin-right: 2px;
  }


  .prodetails > :nth-child(6){
    margin-top: 11px;
    font-size: 12px;

  }


  .prodetails > :nth-child(7){
    display:flex;
    align-items:center;
    margin-top: 3px;
    font-size: 12px;    
  }

  .prodetails > :nth-child(7) span{
    margin-bottom: -2px;
    margin-right: 3px;
    font-size: 16px;
  }

  .movwish{
    font-weight:600;
    color: #ff0013;
    font-size: 12px;
    position: absolute;
    bottom: 4px;
    right: 8px;
  }

  .movwish:hover{
    cursor: pointer;
  }




  .secbox{
    width: 27%;
      margin-left: 20px;
      border-left:1px solid rgb(230, 230, 230);
      padding-left: 19px;
      padding-top: 15px;
    }
  
    .coupon > p{
      margin-bottom:13px;
      color: rgb(199, 0, 44);
      font-weight: 500;
      font-size: 12px;
    }
    
    .applyco{
      width: 100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .applyco > :nth-child(1){
      font-weight: 600;
      font-size: 14px;
      display:flex;
    }
  
    .applyco > :nth-child(1) span{
      margin-top: -3px;
      font-size: 21px;
      margin-right: 10px;
    }
  
    .applyco > :nth-child(2){
      color: #ec4c69;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
      border: 1px solid rgb(141, 60, 60);
      padding: 6px 15px;
    }
  
    .pricedet{
      margin-top: 20px;
      border-top: 1px solid rgb(230, 230, 230);
      padding-top: 20px;
    }
  
    .pricedet > p{
      font-weight: 600;
      color: #e20056;
      font-size: 11px;
      margin-bottom: 21px;
    }
  
    .faredetails{
      color: #534d4d;
      font-weight: 400;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      font-size:13px;
    }
  
    .disc{
      color: #aaa5a5;
    }
  
    .coup{
      color: #90742e;
  
    }
  
  
  
    .knowmore{
      color: #ff0071;
      font-weight: bold;
      margin-left:5px;
    }
  
    .finalmrp{
      font-size: 14px;
      font-weight: bold;
      padding-top:14px;
      border-top: 1px solid rgb(230, 230, 230);
  
    }
  
  
    .pay{
      border-radius: 5px;
      margin-top: 20px;
      padding:10px 0px;
      display:flex;
      width : 100%;
      background-color: #ff006c;
      font-size: 14px;
      font-weight: bold;
      color: white;
      justify-content: space-around;
  
    }
  
  
    .pay:hover{
      background-color:rgb(203, 1, 87);
      cursor: pointer;
    }
  
    .pay:active{
      background-color:rgb(255, 82, 156);
  
    }
  
  
    .footer{
      position:sticky;
      bottom: 0px;
      background-color: white;
      font-size: 14px;
      font-weight: 500;
      align-items: center;
      border: 1px solid rgb(230,230,230);
      justify-content: space-evenly;
      width: 100%;
      display: flex;
      padding: 15px 0px;
  
    }
  
    .foticon{
  
      display: flex;
      justify-content: space-between;
      width: 42%;
  
    }


    .container{
      width: 100%;
      position: absolute;
      top: 0px;
      height: 100vh;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .image{
      width: 18%;
      margin-bottom: 21px;
  }
  
  .emptyimg{
      opacity: 0.5;
      width: 100%;
  }
  
  
  .head{
      word-spacing: 1px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size:22px;
      color: #3e3d3d;
      margin-bottom: 5px;
  }
  
  
  .desc{
      word-spacing: 1px;
      letter-spacing: 2px;
      font-size:15px;
      font-weight: 300;
      color:#908686;
  }
  
  .wish{
      background-color:#ff005e;
      text-align: center;
      width: 210px;
      border-radius:4px;
      font-size:13px;
      font-weight: 600;
      color: white;
      padding: 12px;
      margin-top: 24px;
      border: 1px solid #ff005c;
  }
  
  
  
  .wish:hover{
      color:white;
      background-color:rgb(163,0,60);
  }
  
  .wish:active{
      color:white;
      background-color:rgb(100,0,37);
  }




